html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: "Source Sans Pro",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  text-align: left;
}
#header {
  background-color: rgb(247, 247, 247);
  border-bottom: 2px solid #d6d9db;
  max-width: 100%;
  height: 80px;
  margin-left: 0px;
  margin-bottom: 10px;
  position: relative;
}
.header-input {
  border: 1px solid rgb(207, 207, 207);
  background-color: #d6d9db;
  border-radius: 5px;
  height: 28px;
  margin-left: 240px;
  margin-top: -20px;
  font-size: 100%;
}
a {
  margin: 12px;
  text-decoration: none;
}
.navigator {
  width: 75%;
  top: 27px;
  margin-left: 240px;
  position: relative;
  font-size: 120%;
  font-weight: 550;
}
#burger {
  width: 50px;
  margin-left: 15px;
  background-color: transparent;
  border: none;
  /* background-image: url("../img/menu-icon.png");
  background-repeat: no-repeat; */
}
.message-btn {
  background-color: transparent;
  border: none;
  padding: 10px 18px;
  background-image: url("/img/negotiating.png");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  margin-right: 50px;
  
}
.bell-btn {
  background-color: transparent;
  border: none;
  background-image: url("../img/interface.png");
  background-size: 69%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 30px;
  width: 30px;
}
.media-btns {
  display: inline-block;
  height: 30px;
  left: 50%;
  position: relative;
}
.input-group {
  display: inline-block;
  position: relative;
  width: 200px;
  margin-left: 300px;
  margin-top: -10px;
}
.conent-header {
  position: relative;
  width: 85%;
  height: 50px;
  padding: 1px;
  top: 100px;
}
#span-dashboard {
  position: relative;
  margin: 0px;
  margin-left: 295px;
  padding: 2px;
  font-size: 200%;
  top: -18px;
}
.aside {
  background-color: rgb(56, 56, 56);
  position: fixed;
  width: 15%;
  height: 206.5%;
  margin-top: -92px;
  box-shadow: 3px 0px 5px rgb(131, 131, 131);
  float: left;
  z-index: 1;
}
.aside-header {
  position: relative;
  height: 80px;
  border-bottom: 1px solid #a5a5a5;
}
#aside-header-text {
  position: relative;
  color: white;
  font-size: 150%;
  margin-left: 20px;
  top: 20px;
}
.user {
  position: absolute;
  top: 81px;
  float: left;
  width: 215px;
  height: 80px;
  border-bottom: 1px solid #a5a5a5;
}
#user-name {
  position: relative;
  float: left;
  margin-top: 25px;
  margin-left: 10px;
  color: white;
  font-size: 115%;
}
.avatar {
  position: relative;
  float: left;
  background-image: url("../img/my-avatar.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin: 21px 5px 12px 15px;
  border-radius: 50%;
  object-fit: cover;
}
.aside-buttons {
  position: fixed;
  width: 200px;
  height:630px;
  margin: 0px 8px;
  top: 165px;
  z-index: 2;
}
#widgets-btn, #layout-options-btn,
#charts-btn, #ui-elements-btn, #forms-btn, #tables-btn,
#aside-btn {
  display: block;
  position: relative;
  width: 180px;
  height: 36px;
  margin: 10px;
  color: white;
  cursor: pointer;
  text-align: left;
  font-size: 100%;
  background-color: rgb(56, 56, 56);
  border: none;
  border-radius: 5px;
}
#dashboard-btn {
  display: block;
  position: relative;
  width: 180px;
  height: 36px;
  margin: 10px;
  color: white;
  cursor: pointer;
  text-align: left;
  font-size: 100%;
  background-color: rgb(60, 95, 253);
  border: none;
  border-radius: 5px;
}
#dashboard-btn:hover {
  background-color: #17a2b8;
}
#widgets-btn:hover,
#layout-options-btn:hover,
#charts-btn:hover,
#ui-elements-btn:hover,
#forms-btn:hover,
#tables-btn:hover,
#aside-btn:hover {
  background-color: rgb(90, 90, 90);
}
#aside-btn1, #aside-btn2 {
  display: block;
  position: relative;
  width: 180px;
  height: 36px;
  margin: 10px;
  color: white;
  cursor: pointer;
  text-align: left;
  font-size: 100%;
  background-color: rgb(56, 56, 56);
  border: none;
  border-radius: 5px;
}
.row {
  /* background: rgb(225, 255, 195); */
  width: 85%;
  height: 165px;
  position: relative;
  float: left;
  margin-left: 216px;
}
.cards {
  position: relative;
  display: inline-block;
  width: 262px;
  height: 160px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(150, 150, 150);
  margin: 0px 20px 10px;
}
#card1 {
  background-color: #17a2b8;
  ;
  border: none;
}
#card2 {
  background-color: rgb(118, 185, 118);
  border: none;
}
#card3 {
  background-color: rgb(255, 255, 115);
  border: none;
}
#card4 {
  background-color: tomato;
  border: none;
}
.hidden-part {
  width: 100%;
  height: 180px;
  z-index: -1;
}
.content {
  /* background-color: rgb(255, 237, 221); */
  width: 85%;
  height: 150%;
  float: left;
  margin-left: 215px;
  z-index: 0;
}
strong {
  position: relative;
  float: left;
  width: 85%;
  top: 20px;
  left: 5%;
  font-size: 110%;
  font-weight: 100;
}
.version {
  position: relative;
  float: right;
  font-size: 110%;
  font-weight: 100;
  top: 20px;
  right: 5%;
}
.sales {
  position: relative;
  float: left;
  width: 54.5%;
  height: 30.8%;
  margin: 25px;
  border-radius: 5px;
  background-image: url("../img/sales.png");
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 5px rgb(150, 150, 150);
}
.visitors {
  position: relative;
  float: right;
  width: 40%;
  height: 35.4%;
  margin-top: 25px;
  right: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(150, 150, 150);
  background-image: url("../img/visitors.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.direct-chat {
  position: relative;
  float: left;
  width: 54.5%;
  height: 35%;
  margin-left: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(150, 150, 150);
  background-image: url("../img/direct-chat.png");
  background-size: contain;
}
.sales-graph {
  position: relative;
  float: right;
  width: 40%;
  height: 30.3%;
  margin-top: 25px;
  right: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(150, 150, 150);
  background-image: url("../img/sales-graph.png");
  background-size: 101%;
  background-repeat: no-repeat;
}
.to-do-list {
  position: relative;
  float: left;
  width: 54.5%;
  height: 26%;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(150, 150, 150);
  background-image: url("../img/to-do-list.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.calendar {
  background-color: orangered;
  position: relative;
  float: right;
  width: 40%;
  height: 26%;
  margin-top: 25px;
  right: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(150, 150, 150);
  background-image: url("../img/calendar.png");
  background-size: 101.7%;
  background-repeat: no-repeat;
}
#footer {
  border-top: 1px solid rgb(207, 207, 207);
  background-color: white;
  width: 85%;
  height: 70px;
  float: left;
  margin-left: 215px;
}